.root {
  isolation: isolate;
}

.logo {
  fill: #50565e;
  transition: fill 0.25s ease-out;
}

.logo:hover {
  fill: var(--Primary-web-unifi-color-ublue-06, #006fff);
}

.logo-link {
  display: block;
}

.layout {
  width: 1440px;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: auto;
}

.content {
  width: 100%;
  padding: 0;
  background: #fff;
  box-sizing: border-box;
}

.layout .top-bar {
  margin-bottom: 32px;
}

.top-bar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding-right: 32px;
  justify-content: space-between;
  align-items: center;
  background: var(--Neutral-web-unifi-color-neutral-02, #f4f5f6);
}
.top-bar__right,
.top-bar__left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.top-bar__text {
  color: var(--Text-web-unifi-text-3, #808893);
  /* Web/Body-primary */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
